.conversion-form {
	background-color: lightseagreen;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.conversion-form__submit-btn {
  border: 0;
  border-radius: 0;
  background-color: darkcyan;
  font-family: 'Roboto';
  font-size: .85em;
  font-weight: 700;
  color: white;
  height:  36px;
  position: absolute;
  width: 68px;
}

.conversion-form__header {
  height: 100px;
  margin: auto;
}

input {
  border: 1px solid gray;
  border-radius: 0;
  font-size: 1.2em;
  height: 32px;
  width: 340px;
}

.conversion-form__footer {
  color: darkslategray;
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}

.conversion-form__main-content {
  background-color: white;
  padding: 1.2em;
  height: 320px;
  width: 520px;
  text-align: center;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.conversion-form__display-roman-numeral {
  font-weight: 700;
  color: darkcyan;
}

.conversion-form__title {
  margin: auto;
  text-align: center;
  width: 300px;
}

.conversion-form__title h1 {
	font-size: 2em;
	font-weight: 300;
	letter-spacing: 1px;
}

.conversion-form__sub-title {
	font-weight: 300;
	letter-spacing: 1px;
}

.conversion-form__user-input {
  padding: 10px 45px 10px 0px;
}
